body {
    background-color: darkgreen;
}

h1 {
    margin: 0.5em 10% 0.5em 30%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    padding: 6px;
    color: #99cc00;
    background: #d9ffd9;
}

h3 {
    margin: 0.5em 50% 0.5em 3%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #d9ffd9;
    background: #99cc00;
}

p {
    margin: 0.5em 10% 0.5em 30%;
    padding: 0.5em 0.5em 0.5em 8em;
    color: #333333;
    background: #d9ffd9;
}

.video {
    text-align: center;
}

.image {
    text-align: center;
}

